@page "/"

<h1>
    Wijmo Blazor
</h1>
<p>
    This app shows several Wijmo controls wrapped as Blazor components.
</p>
<p>
    The wrappers are defined in the <b>WijmoBlazor</b> assembly which 
    may be included in your Blazor projects.
</p>
<p>
    In addition to the <b>WijmoBlazor</b> assembly, the app must load 
    the JavaScript Wijmo controls and styles using regular script and 
    style blocks (see 
    <a href="https://www.grapecity.com/wijmo/docs/GettingStarted/Referencing-Wijmo">
         Referencing Wijmo in your Applications
    </a> for details).
</p>
