<h4 class="modal-header wj-dialog-header">
    Log in
    <button type="button" tabindex="-1" class="close wj-hide">&times;</button>
</h4>
<div class="modal-body">
    <label>
        Email:
        <input class="form-control" required type="email" />
    </label>
    <br />
    <label>
        Password:
        <input class="form-control" type="password" required pattern=".{4,}"
            title="Please enter 4 characters or more." />
    </label>
    <br />
    <label>
        Remember Me
        <input type="checkbox" />
    </label>
    <br />
    <a href="" class="wj-hide-create">Don't have an account yet?</a>
</div>
<div class="modal-footer">
    <button class="btn btn-primary wj-hide-ok" type="submit">
        Log in
    </button>
</div>
